.App {
  font-family: sans-serif;
}

.tags {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
.comment {
  /* border: 1px solid red; */
  /* border-left: 1px solid red; */
  margin-bottom: 30px;
  padding-left: 5px;
  height: 120px;
  overflow: hidden;
}
.commentSection {
  display: flex;
  vertical-align: bottom;
}

.sideBar {
  /* border: 1px solid red; */
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.icon {
  display: block;
  cursor: pointer;
}

.border {
  border: 1px;
  background-color: grey;
  width: 2px;
  height: 90%;
  margin: auto;
  cursor: pointer;
}

.border:hover {
  background-color: red;
  transition: background-color 0.5s;
}

.toggle {
  /* border: 1px solid red; */
  /* border-left: 1px solid red; */
  margin-bottom: 30px;
  padding-left: 5px;
}
